.task {
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    gap: 0.75rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid #333333;
    border-radius: 10px;
    align-items: center;
    
}

.task + .task {
    margin-top: 1rem;
}

.finishedTask {
    line-height: 0;
    background: green;
}

.pendingTask {
    line-height: 0;
    background: orangered;
}

.taskContent {
    font-size: 0.875rem;
    line-height: 1.6;
}

.deleteTask {
    line-height: 0;
}